{
  "root": true,
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": ["**/*.test.*"],
      "env": {
        "jest": true
      }
    }
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": 0,
    "react/destructuring-assignment": 0
  }
}
